USE [master]
GO
/****** Object:  Database [VehicleServiceDB]    Script Date: 11-02-2026 16:59:56 ******/
CREATE DATABASE [VehicleServiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleServiceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VehicleServiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleServiceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\VehicleServiceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleServiceDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11-02-2026 16:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11-02-2026 16:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 11-02-2026 16:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NOT NULL,
	[ServiceDate] [datetime2](7) NOT NULL,
	[ServiceType] [nvarchar](max) NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 11-02-2026 16:59:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNumber] [nvarchar](max) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Brand] [nvarchar](max) NOT NULL,
	[Year] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260209053006_InitialCreate', N'10.0.2')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [Name], [Email], [Phone], [IsActive]) VALUES (3, N'Asmit', N'ASMITPRATAPSINGH0664@GMAIL.COM', N'07900720664', 1)
INSERT [dbo].[Customers] ([CustomerId], [Name], [Email], [Phone], [IsActive]) VALUES (4, N'Ayush ', N'ayush123@gmail.com', N'9548540320', 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [VehicleId], [ServiceDate], [ServiceType], [Cost], [IsCompleted]) VALUES (4, 7, CAST(N'2026-02-11T00:00:00.0000000' AS DateTime2), N'Paint', CAST(2000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Services] ([ServiceId], [VehicleId], [ServiceDate], [ServiceType], [Cost], [IsCompleted]) VALUES (5, 6, CAST(N'2026-02-11T00:00:00.0000000' AS DateTime2), N'Maintain', CAST(7000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Services] ([ServiceId], [VehicleId], [ServiceDate], [ServiceType], [Cost], [IsCompleted]) VALUES (6, 7, CAST(N'2026-02-10T00:00:00.0000000' AS DateTime2), N'maintain', CAST(7000.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleId], [RegistrationNumber], [Model], [Brand], [Year], [CustomerId]) VALUES (6, N'UP83 AB 0664', N'Creta', N'Hyudai', 2026, 3)
INSERT [dbo].[Vehicles] ([VehicleId], [RegistrationNumber], [Model], [Brand], [Year], [CustomerId]) VALUES (7, N'UP83 BK 0303', N'Electra 350', N'RE', 2012, 3)
INSERT [dbo].[Vehicles] ([VehicleId], [RegistrationNumber], [Model], [Brand], [Year], [CustomerId]) VALUES (8, N'DL12 CA 0101', N'City', N'Honda', 2021, 4)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
/****** Object:  Index [IX_Services_VehicleId]    Script Date: 11-02-2026 16:59:58 ******/
CREATE NONCLUSTERED INDEX [IX_Services_VehicleId] ON [dbo].[Services]
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_CustomerId]    Script Date: 11-02-2026 16:59:58 ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_CustomerId] ON [dbo].[Vehicles]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Customers_CustomerId]
GO
USE [master]
GO
